@font-face {
    font-family: Gooddc;
    src: url("fonts/Gooddc/GOODDC__.TTF") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Monts-light;
    src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: normal;
}


@font-face {
    font-family: Monts-regular;
    src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Monts-bold;
    src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Myriad-light;
    src: url("fonts/Myriadpro/MyriadPro-Light.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: Myriad-bold;
    src: url("fonts/Myriadpro/MYRIADPRO-BOLD.OTF") format("opentype");
    font-weight: bold;
}