@font-face {
    font-family: Gooddc;
    src: url("GOODDC__.TTF") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Monts-light;
    src: url("Montserrat-Light.ttf") format("truetype");
    font-weight: normal;
}


@font-face {
    font-family: Monts-regular;
    src: url("Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Monts-bold;
    src: url("Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: Myriad-light;
    src: url("MyriadPro-Light.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: Myriad-bold;
    src: url("MYRIADPRO-BOLD.OTF") format("opentype");
    font-weight: bold;
}
